/*Geral*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    /* paleta do Grid*/
    --Grid0: #0072C6;
    --Grid1: #2C5898;
    --Grid2: #207245;
    --Grid3: #CB4A32;
    --Grid4: #733781;
    --Grid5: #00AFF0;
    --Grid6: #094AB2;
    --Grid7: #0073C6;
    --Grid8: #0093BE;
    --Grid9: #5558AF;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1440px;
    margin: auto;
}
button, input[type=submit]{
    color: #FFF;
    cursor: pointer;
}
img{
    width: inherit;
    height: inherit;
}
/*desktop disable*/
.menuBar__desktop, .banner__expand, .skills__border{
    display: none;
}

/*nav*/
.menuBar{
    background-color: #2571B7;
    position: fixed;
    width: 100%;
}
.container .menuBar__geral{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    margin: 0 10px;
}

.menuBar__mobile_item{
    background-color: #FFF;
    height: 2px;
    width:24px;
}
.menuBar__mobile_item:nth-child(1){
    margin-bottom: 6px;
}
.menuBar__mobile_item:nth-child(3){
    margin-top: 6px;
}
.menuBar__Login{
    font-size: 14px;
    height: 28px;
    padding: 0px 15px;
    background-color: #002050;
    transition: background-color 1s;
}
.menuBar__Login:hover{
    background-color:#0045ac ;
}

/*banner*/
.banner{
    background-image: url('images/Grupo\ 52.png');
    background-size: cover;
    background-position:center;
    padding-top: 48px;
}
.container .banner__geral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 592px;
    color: #FFF;
}
.banner__header{
    margin: auto;
    text-align: center;
}
.banner__titulo{
    font-size: 44px;
    font-weight: 500px;
    margin-bottom: 24px;
}
.banner__descricao{
    font-size: 24px;
    margin-bottom: 60px;
    line-height: 34px;
}
.banner__button{
    width: 188px;
    height: 52px;
    font-size: 21px;
    background-color: #00A4EF;
    transition: background-color 1s;
}
.banner__button:hover{
    background-color: #6dd1ff;
}
.banner__logo{
    margin-bottom: 28px;
}

/*main*/
.main__geral{
    margin: 0px 18px;
}
main p{
    color: #737373;
}

.descricao{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.descricao__text{
    line-height: 24px;
    font-size: 15px;
}
.descricao__text:first-child{
    margin-bottom: 14px;
}

/*iniciando sections*/
/*section default*/
.default .default__titulo, .default .default__descricao{
    text-align: center;
    margin-bottom: 27px;
}
.default__descricao{
    line-height: 24px;
    font-size: 15px;
    margin: 0 18px;
}
.default__titulo{
    color: #2571B7;
    padding: 8px 0;
}

/*section servicos*/
.servicos{
    margin-bottom: 60px;
}
.servicos__servico{
    display: flex;
    background-color: pink;
    height: 124px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    color: #FFF;
}
.servicos__img{
    padding: 0 11px;
}
.servicos__desc{
    width: 225px;
}
.servicos__desc_title{
    margin-bottom: 8px;
}
.servicos__desc_descricao{
    font-size: 12px;
    color: inherit;
    line-height: 18px;
}
.servico--bg0{background-color: var(--Grid0);}
.servico--bg1{background-color: var(--Grid1);}
.servico--bg2{background-color: var(--Grid2);}
.servico--bg3{background-color: var(--Grid3);}
.servico--bg4{background-color: var(--Grid4);}
.servico--bg5{background-color: var(--Grid5);}
.servico--bg6{background-color: var(--Grid6);}
.servico--bg7{background-color: var(--Grid7);}
.servico--bg8{background-color: var(--Grid8);}
.servico--bg9{background-color: var(--Grid9);}

/*section skills*/
.skills__skill{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-bottom: 3px solid #DEDEDE;
    padding-bottom: 22.5px;
    margin-bottom: 22.5px;
}
.skills__skill:last-child{
    border: none;
}
.skills--color1{color: #7FBA00; transition: background-color 1s;}
.skills--color2{color: #00A4EF; transition: background-color 1s;}
.skills--color3{color: #FFB900; transition: background-color 1s;}
.skills--border1{border: 1px solid #7FBA00;}
.skills--border2{border: 1px solid #00A4EF;}
.skills--border3{border: 1px solid #FFB900;}
.skills--color1:hover:not(h5){
    color:#FFF;
    background-color: #7FBA00;
}
.skills--color2:hover:not(h5){
    color:#FFF;
    background-color: #00A4EF;
}
.skills--color3:hover:not(h5){
    color:#FFF;
    background-color: #FFB900;
}
.skills__img{
    width: 70px;
    height: 70px;
    margin-left: 18px;
}
.skills__title, .skills__desc_descricao{
    margin-bottom: 18px;
}
.skills__desc_descricao{
    font-size: 12px;
    line-height: 18px;
}
.skills__button{
    height: 30px;
    background-color: #FFF;
    padding: 0 4px;
}

/* section options*/
.secaoOptions .default__titulo{
    margin-bottom: 65px;
    padding-top: 10px;
}
.options{
    border: 3px solid #DEDEDE;
    margin-bottom: 60px;
}
.options__option{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 150px;
}
.options__option:nth-child(1), .options__option:nth-child(2), .options__option:nth-child(3){
    border-bottom: 3px solid #DEDEDE;
}
.options__title{
    margin-bottom: 18px;
    color: #F25022;
}
.options__desc{
    font-size: 12px;
    width: 276px;
}

/*section destaque*/
.secaoDestaque{
    margin: 0;
    background-image: url('images/Grupo\ 89.png');
    background-size: cover;
    background-position: center;
    margin-bottom: 60px;
}
.secaoDestaque .container{
    height: 224px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 224px;
}
.secaoDestaque__desc{
    font-size: 21px;
    line-height: 35px;
    color: #FFF;
    margin: 0 18px;
    font-size: 24px;
    line-height: 36px;
}

/*section forms*/
.forms{
    background-color: #E6E6E6;
    padding: 15px 18px;
    margin-bottom: 80px;
    max-width: 564px;
    margin: auto;
}
.forms__geral{
    color: #737373;
    margin: 0 18px;
}
.forms__input_title{
    font-size: 12px;
}
.forms__label:nth-child(1) .forms__input_title{
    color: #2571B7;
}
.forms__label:nth-child(1) .forms__input{
    border:2px solid #2571B7 ;
}
.forms__input{
    padding: 10px 0;
    margin-bottom: 21px;
    margin-top: 6px;
}
.forms__submit, .forms__input{
    width: 95%;
    padding-left: 4%;
}
.forms__submit{
    font-size: 21px;
    background-color: #00A4EF;
    color: #FFF;
    padding: 13px 0;
    transition: background-color 1s;
}
.forms__submit:hover{
    background-color: #6dd1ff;
}

/* footer*/
.footerArea{
    margin-top: 100px;
}
.footerArea__logo{
    text-align: center;
}
.footerArea__logo_img img:first-child{
    margin-right: 30px;
}
.footerArea__logo_img img{
    width: 145px;
    height: 40px;
}
.footerArea__copy{
    color: #B4B4B4;
    font-size: 12px;
    margin-top: 17px;
    margin-bottom: 24px;
}


/*responsividade desktop*/
@media (min-width:1000px){
    /*menu bar*/
    .container .menuBar__geral{
        height: 80px;
    }
    .menuBar__desktop{
        display: flex;
    }
    .menuBar__mobile{
        display: none;
    }
    .menuBar__desktop{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .menuBar__logo{
        height: 24px;
    }
    .menuBar__desktopItems{
        display: flex;
        list-style: none;
        align-items: center;
    }
    .menuBar__desktop_item{
        margin-right: 77px;
    }
    .menuBar__desktop_item a{
        color: #FFF;
        text-decoration: none;
    }
    .menuBar__Login{
        width: 130px;
    }

    /*banner*/
    .container .banner__geral{
        height: 820px;
    }
    .banner__header{
        width: 100%;
        text-align: start;
    }
    .banner__titulo{
        font-size: 80px;
    }
    .banner__descricao{
        font-size: 32px;
        margin-bottom: 96px;
    }
    .banner__button{
        width: 266px;
        height: 67px;
        font-size: 28px;
    }
    .banner__expand{
        display: block;
        background-color: transparent;
    }
    .banner__essentials{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    /*inicio main*/
    .descricao{
        margin-top: 96px;
        margin-bottom: 96px;
    }
    .descricao__text, .default__descricao{
        font-size: 20px;
    }
    .default__titulo{
        font-size: 40px;
    }
    .default .default__titulo, .default .default__descricao {
        margin-bottom: 48px;
    }

    /*section servicos*/
    .servicos{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 48px;
    }
    .servicos__servico{
        justify-content: start;
    }
    .servicos__img{
        margin-left: 28px;
        padding-right: 20px;
    }
    .servicos__desc{
        width: 100%;
    }
    .servicos__desc_title{
        font-size: 20px;
    }
    .servicos__desc_descricao{
        font-size: 16px;
        line-height: 24px;
    }

    /*section skills*/
    .skills{
        display: flex;
        justify-content: space-between;
    }
    .skills__skill{
        flex-direction: column;
        text-align: center;
        border: none;
        width: 336px;
    }
    .skills__img{
        width: 160px;
        height: 160px;
        margin: 0;
        margin-bottom: 20px;
    }
    .skills__title{
        font-size: 20px;
        margin-bottom: 1px solid black;
    }
    .skills__border{
    border-top: 4px solid #DEDEDE;
    display: block;
    width: 53px;
    margin: auto;
    padding-bottom: 20px;
    }
    .skills__desc_descricao{
        font-size: 16px;
        line-height: 24px;
    }
    .skills__button{
        height: 35px;
        padding: 0 8px;
    }

    /*section options*/
    .options{
        display: flex;
        border: 4px solid #DEDEDE;
    }
    .options__option{
        width: 100%;
        height: 224px;
    }
    .options__option:nth-child(1), .options__option:nth-child(2), .options__option:nth-child(3){
        border: none;
        border-right: 4px solid #DEDEDE;
    }
    .options__title{
        font-size: 20px;
    }
    .options__desc{
        font-size: 16px;
        line-height: 24px;
    }

    /*section destaque*/
    .secaoDestaque .container{
        height: 320px;
    }
    .secaoDestaque__desc{
        font-size: 48px;
        line-height: 64px;
    }

    /*forms*/
    .forms{
        padding: 32px 48px;
        width: 516px;
    }
    .forms__input{
        padding:19px 0;
        padding-left: 4%;
    }
    .forms__input_title{
        font-size: 14px;
        margin-bottom: 8px;
    }
    .forms__label:nth-child(5) .forms__input{
        margin-bottom: 48px;
    }
    .forms__submit{
        width: 100%;
    }

}